<div>
  <app-tictactoe-field [currentPlayer]="Player.none"/>
  <app-tictactoe-field [currentPlayer]="Player.none"/>
  <app-tictactoe-field [currentPlayer]="Player.none"/>

  <app-tictactoe-field [currentPlayer]="Player.none"/>
  <app-tictactoe-field [currentPlayer]="Player.none"/>
  <app-tictactoe-field [currentPlayer]="Player.none"/>

  <app-tictactoe-field [currentPlayer]="Player.none"/>
  <app-tictactoe-field [currentPlayer]="Player.none"/>
  <app-tictactoe-field [currentPlayer]="Player.none"/>
</div>
